<div class="product__card">
    <img src="https://via.placeholder.com/1200x1500" class="mb-4">
    <div>
        <a href="#" class="product__card-category block font-italic text-24 -mb-2">Product Category —</a>
        <a href="#" class="product__card-title block font-matterlight text-24">Product Title</a>
    </div>
    <p class="product__card-price font-matter text-18 text-brown">$00</p>
</div>