.header {
  transform: translateY(0);
  transition: height .3s;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -11px;
    background: linear-gradient(
0deg, rgba(251,241,220,0) 0%, rgba(251,241,220,0.66376925770308124) 17%, rgba(251,241,220,0.86376925770308124) 24%, rgba(251,241,220,1) 34%);
    height: 200px;
    width: calc(100% + 30px);
    filter: blur(7px);
    opacity: 0;
    visibility: visible;
    @apply transition-smooth;
  }
  
  &__overlay {
    background: rgba(166, 124, 82, 0.7);
    opacity: 0;
    visibility: hidden;
    @apply transition-smooth;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  #hamburger,
  #hamburger-close {
    @apply invisible transition cursor-pointer;
    &.active {
      @apply visible;
    }
  }
  #hamburger {
    g {
      @apply transition-smooth;
      stroke: theme("colors.cream");
    }
    &:hover g {
      stroke: theme("colors.orange");
    }
  }
  nav {
    @apply transition-smooth;
    &.min {
      @apply py-2;
    }
  }
  &__logo {
    path {
      @apply transition-smooth;
      fill: theme("colors.cream");
    }
  }
  &.dropdown-open,
  &.active {
    .header__link {
      @apply text-black;
      &:hover {
        @apply text-orange;
      }
    }
    #header-search-link.active,
    #header-shop-link.active {
      @apply text-orange;
    }
    #hamburger {
      g {
        stroke: theme("colors.black");
      }
      &:hover g {
        stroke: theme("colors.orange");
      }
    }
    #bag-count {
      background: url(./bag.svg) 50% 70% / 95% no-repeat;
    }
  }
  &.active {
    @apply transition-smooth;
    &:after {
      opacity: 1;
      visibility: visible;
    }
    .header__logo path {
      fill: theme("colors.black");
    }
  }
  &.dropdown-open {
    background-color: theme("colors.cream") !important;
  }
  &.swiped-up {
    transform: translateY(-200px) !important;
  }
  &.swiped-down {
    transform: translateY(0px) !important;
  }
  &__categories,
  &__menu,
  &__search {
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s,
      background-color 0.3s;
    @apply invisible;
    ul {
      opacity: 0;
      transition: 0.5s;
    }
    a.has-submenu {
      @apply border-b border-transparent pb-1;
    }
    &.active {
      @apply visible;
      ul {
        opacity: 1;
      }
      a.has-submenu.active {
        @apply text-orange border-orange;
      }
    }
  }
  &__submenu {
    @apply transition-smooth;
    @apply invisible;
    min-width: calc(100vw - 3rem);

    li {
      opacity: 0;
      transition: 0.5s;
    }
    &.active {
      @apply visible;
      li {
        transition-delay: 0.3s;
        opacity: 1;
      }
    }
  }
  #bag-count {
    background: url(./bag-cream.svg) 50% 70% / 93% no-repeat;
    padding: 13px 6.25px 6px;
    position: relative;
    top: 0px;
  }
}
