.shop-all {
    .carousel {
        @screen md {
            @apply flex flex-nowrap overflow-scroll;
        }   
        &:after {
            content: 'flickity';
            display: none;
            @screen md {
                content: '';
                display: none;
            }
        }
    }
}