<div class="account">
  <div class="container">
    <div class="inner">
      
      <h1 class="text-center">Reset Account Password</h1>
      
      <p class="text-center">Enter a new password for {{ email }}</p>
      
      {% form 'reset_customer_password' %}
      
        {{ form.errors | default_errors }}

        <div class="form">
          <div class="field">
            <label>Password</label>
            <input type="password" value="" name="customer[password]" id="customer_password" size="16">
          </div>
          <div class="field">
            <label>Password Confirmation</label>
            <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="16">
          </div>
          <div class="text-center">
            <input type="submit" value="Reset Password" class="button">
          </div>
        </div>
      
      {% endform %}
      
    </div>
  </div>
</div>