@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~flickity/css/flickity";

@import "./components/form.scss";
@import "./components/accordion.scss";
@import "./components/header.scss";
@import "./components/item-card.scss";
@import "./components/home-quote.scss";
@import "./components/sustainability-process.scss";

@layer base {
    a {
        transition: .3s;
    }
    .font-matter,
    .font-matterlight {
        text-transform: uppercase; 
    }
    .font-matter {
      letter-spacing: .1em;
    }
    .arrow-link {
      &-wrap {
        @apply inline-flex items-center;
        svg {
          @apply ml-2 transition;
        }
        &:hover svg {
          @apply translate-x-2;
        }
      }
      @apply font-italic text-24 md:text-20;
    }
    // .link-hover-line-orange {
    //   padding-bottom: 1px;
    //   @apply border-b border-transparent;
    //   &:hover {
    //     @apply text-orange border-orange;
    //   }
    // }
}

@layer utilities {
  .container-base {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    @apply container-base px-10 md:px-5;
    max-width: 1440px;
    &-full {
      @apply container-base px-10 md:px-5;
      max-width: 100%;
    }
    &-1280 {
      @apply container-base px-10 md:px-5; 
      max-width: 1280px;
    }
    &-1060 {
      @apply container-base px-10 md:px-5;
      max-width: 1060px;
    }
    &-960 {
      @apply container-base px-10 md:px-5;
      max-width: 960px;
    }
    &-768 {
      @apply container-base px-10 md:px-5; 
      max-width: 768px;
    }
    &-700 {
      @apply container-base px-10 md:px-5;
      max-width: 700px;
    }
  }
  .absolute-center {
      @apply absolute top-1/2 -translate-y-1/2;
  }
  .invisible {
    opacity: 0;
    visibility: hidden;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .transition-smooth {
    transition: .3s;
  }
}

@layer components {
  //SCROLLMAGIC
  .delay {
    &.delay-0 {
      transition-delay: 0ms;
    }
    &.delay-100 {
      transition-delay: 100ms;
    }
    &.delay-200 {
      transition-delay: 200ms;
    }
    &.delay-300 {
      transition-delay: 300ms;
    }
    &.delay-400 {
      transition-delay: 400ms;
    }
    &.delay-500 {
      transition-delay: 500ms;
    }
    &.delay-600 {
      transition-delay: 600ms;
    }
    &.delay-700 {
      transition-delay: 700ms;
    }
    &.delay-800 {
      transition-delay: 800ms;
    }
    &.delay-900 {
      transition-delay: 900ms;
    }
    &.delay-1000 {
      transition-delay: -1000ms;
    }
    &.delay-1100 {
      transition-delay: 1100ms;
    }
    &.delay-1200 {
      transition-delay: 1200ms;
    }
  }
  [data-viewport] {
    &.in-view {
      .fade-in {
        opacity: 1;
        filter: blur(0px);
        @apply delay;
        &.highlighted {
          transform: none;
        }
      }
    }
    &.fade-in,
    .fade-in {
      opacity: 0;
      filter: blur(10px);
      transition: .5s opacity, .35s filter;
      &.in-view {
        opacity: 1;
        filter: blur(0px);
        @apply delay;
      }
    }
  }
  body.scrolled-past-hero .full__hero {
    display: none !important;
  }
  //RICHTEXT
  .richtext > p > a {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    &:hover {
        opacity: .6;
    }
  } 
  //GLOW BUBBLE
  .glow-bubble {
    filter: blur(10px);
    @apply bg-orange rounded-full;
  }
  //TICKER
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-wrap {
    width: 100%;
    overflow: hidden;
    padding-left: 100%;
    box-sizing: content-box;
    .ticker {
      display: inline-block;
      white-space: nowrap;
      padding-right: 100%;
      box-sizing: content-box;
      -webkit-animation-iteration-count: infinite; 
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
     -webkit-animation-name: ticker;
             animation-name: ticker;
      -webkit-animation-duration: 30s;
              animation-duration: 30s;
      &__item { 
        display: inline-block;
        padding: 0 2rem; 
      }
    }
  }  
  //FLICKITY
  .carousel {
    &__align-left-pl-5 {
      @apply pl-5 overflow-hidden;
      .flickity-viewport {
        @apply overflow-visible;
      }
    }
  }
}

body.frozen {
  overflow: hidden;
}

body {
  @apply font-body;
}