<section class="home__hero full__hero w-full fixed left-0 top-0 h-screen min-h-[700px] lg:min-h-[420px] sm:hidden" style="background: url({{ section.settings.image | img_url:'2400x' }}) center/cover no-repeat;">
    <img src="{{ 'wordmark-large.svg' | asset_url }}" class="w-[99%] absolute -bottom-2 inset-x-0 mx-auto fade-in delay-400" data-viewport alt="Bask Goods Wordmark">
</section>
<section class="home__hero full__hero w-full fixed left-0 top-0 h-[66vh] min-h-[400px] sm_min:hidden" style="background: url({{ section.settings.mobile_image | img_url:'1200x' }}) center/cover no-repeat;">
    <img src="{{ 'wordmark-large.svg' | asset_url }}" class="w-[99%] absolute -bottom-2 inset-x-0 mx-auto fade-in delay-400" data-viewport alt="Bask Goods Wordmark">
</section>

{% schema %}
{
    "name": "Hero",
    "settings": [        
        {
            "type": "image_picker",
            "id": "image",
            "label": "Hero Image",
            "info": "Recommended Image Dimensions: 2400x1350"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Hero Image",
            "info": "Recommended Image Dimensions: 1000x1350"
        }                                      
    ] 
}
{% endschema %}