<section class="home__hero w-full fixed left-0 top-0 h-screen min-h-[700px]" style="background: url({{ 'home-hero.jpeg' | asset_url }}) center/cover no-repeat;">
    <div class="container">Hero</div>
    <img src="{{ 'wordmark-large.svg' | asset_url }}" class="w-[99%] absolute -bottom-2 inset-x-0 mx-auto" alt="Bask Goods Wordmark">
</section>