<section class="hero main__content bg-cream pt-40" data-viewport>
    <div class="container-975 pt-20 pb-40 md:py-8 space-y-8 text-17 leading-[1.59] richtext">
        {{ page.content }}  
    </div>
</section>

{% schema %}
{
    "name": "Main"
}
{% endschema %}