<section class="bg-beige-50 py-28">
    <div class="container">
        <div class="px-16 grid grid-cols-2">
            <div class="pr-24">
                <img src="https://via.placeholder.com/1200x1500" alt="">
            </div>
            <div class="space-y-16">
                <div>
                    <h2 class="font-matter text-18 text-brown mb-8">Next Steps</h2>
                    <div class="font-heading text-24 space-y-8"><p>Everything we use can be striking and timeless, just like mother nature itself. Form and function perseveres with great care. So let’s start taking care of our things, and our planet.</p></div>
                </div>
                <div>
                    <h2 class="font-matter text-18 text-brown mb-8">Our Guarantee</h2>
                    <div class="font-heading text-24 space-y-8"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p></div>
                </div>
            </div>
        </div>
    </div>
</section>